@model IEnumerable<PharmacyManager_Application.UseCase.Medicines.Dto.MedicineDto>

@{
    ViewData["Title"] = "All Medicines";
}

<h1>All Medicines</h1>

<p>
    <a asp-action="CreateMedicine" class="btn btn-secondary">Create New Medicine</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Manufacturer</h6>
                <a href="#" class="btn btn-primary ">Details</a>
                <a href="#" class="btn btn-outline-secondary ">Edit</a>
            </div>
        </div>
    }
</div>